<%= form_for(@want) do |f| %>
  <% if @want.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@want.errors.count, "error") %> prohibited this want from being saved:</h2>

      <ul>
      <% @want.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	Title:<br/><input name="[title]">
  </div>

  <div class="field">
    Version:<br/><input name="[version]">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
